#cor {
  background-image: url("samimgs/back3.jpg");
  background-size: 100%; 
} 
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}
h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #4B0082;
	text-shadow: 3px 3px 1px black;
}
h2 {
	font-size: 30px;
	
}
h3 {
	font-size: 25px;
}
