fieldset {
	border: 1px solid black;
	border-radius: 10px; 
	text-align: left;
	width: 350px;
	padding-bottom:10px;
	padding-left:5px;
	padding-right:5px;
}
legend {
	background-color: #D8BFD8; 
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	text-transform: uppercase;
	width: 200px;
}
body {
	background-image: url("samimgs/back3.jpg");
	background-size: 100%;
} 
p {
	font-size:18px;
}