legend {
	background-color: #D8BFD8; 
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	text-transform: uppercase;
	width: 200px;
}
body {
	background-image: url("samimgs/back3.jpg");
} 
p {
	font-size:18px;
}
